<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="navbar__menu">
      <ul>
        <li><a href="/" class="menu__link">Travel App</a></li>
        <li><a href="mailto:Andy.Woerner@icloud.com" class="menu__link">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inputs">
      <div>
        <h1>Travel App</h1>
        <div class="description">
          Plan your next trip and get useful weather informations! Just enter a location and a date.
        </div>
      </div>
      <form>
        <label for="location">Enter a location:</label>
        <input id="location" name="location" type="text" value="Hamburg" placeholder="Trip location">
        <label for="date">Start:</label>
        <input type="date" id="date" name="date" value="" placeholder="">
        <label for="end">End:</label>
        <input type="date" id="end" name="end" value="" placeholder="">
        <input id="submit" type="submit" value="Submit">
      </form>
    </section>

    <section id="results">
    </section>
  </main>

  <footer>
    <nav class="navbar__menu">
      <ul>
        <li><a href="https://github.com/AndyWoerner" class="menu__link" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/andywoerner" class="menu__link" target="_blank">LinkedIn</a></li>
        <li><a href="mailto:Andy.Woerner@icloud.com" class="menu__link">Mail</a></li>
      </ul>
    </nav>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>

</html>