<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <nav class="navbar__menu">
      <ul id="navbar__list">
        <li><a href="" class="menu__link">Travel App</a></li>
        <li><a href="" class="menu__link">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inputs">
      <div class="info">
        <h1>Travel App</h1>
        <div class="description">
          Plan your next trip and get useful weather informations! Just enter a location and a date.
        </div>
      </div>
      <form onsubmit="return Client.handleSubmit(e)">
        <label for="location">Enter a location:</label>
        <input id="location" name="location" type="text" value="" placeholder="Trip location">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="" placeholder="dd.mm.yyyy">
        <input type="submit" value="Submit" onclick="return Client.handleSubmit(e)" onsubmit="return Client.handleSubmit(e)">
      </form>
    </section>

    <section class="results">


    </section>
  </main>

  <footer>
    <div>
      <a href="">GitHub</a>
      <a href="">LinkedIn</a>
      <a href="">Mail</a>
    </div>
  </footer>

</body>

</html>