@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    flex: 2;
}

h1 {
    padding: 30px 30px 0px 30px;
}

section {
    width: 640px;
    margin: 20px auto;
    border-radius: 10px;
    background: rgb(240, 240, 240);
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    h2 {
        font-size: 1.2em;
        padding: 10px;
        font-weight: bold;
    }

    p {
        padding: 10px;
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    }
}

.description {
    margin: 20px;
    width: 300px;
    margin: 20px auto;
    padding: 30px 0px 0px 30px;
}

#inputs {
    display: flex;
}
#close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #333;
    opacity: 1;
    cursor: pointer;

    &:hover {
        background-color: rgb(238, 238, 238);
        border: 1px solid rgb(201, 201, 201);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        transition: all 0.2s;
    }
}

#results {
    display: none;
    position: relative;
}