header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #545454;
    background-color: #222;
}

.navbar__menu {
    ul {
        padding-left: 0;
        margin: 0;
        text-align: right;
    }
    li {
        display: inline-block;
    }
    .menu__link {
        display: block;
        padding: 1em;
        font-weight: bold;
        text-decoration: none;
        color: #eee;
    }
    .menu__link:hover {
        background: #888;
        color: #222;
        transition: ease 0.2s all;
    }
}